.bar {
  width: 100%;
  background-color: var(--secondary);
  margin-bottom: 140px;
}

.container {
  height: 88px;
  width: min(1200px, 100%);
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 48px;
}

.logoLink {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  object-fit: contain;
  cursor: pointer;
}

.container ul {
  display: flex;
  align-items: center;
  gap: 56px;
}

.container a {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #e7defc;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.container a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: var(--tertiary);
  transition: width 0.3s ease;
}

.container a:hover {
  color: white;
}

.container a:hover::after {
  width: 100%;
}