:root {
  --background: #11071f;
  --secondary: #1a0b2e;
  --tertiary: #7127ba;

  --main-font: "Poppins", sans-serif;
  --special-font: "McLaren", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: var(--main-font);
  background-color: var(--background);
}

p,
a,
h1,
h2,
h3,
h4,
h5 {
  color: #fff;
}

li,
ul,
ol {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h2 {
  font-family: var(--special-font);
}